body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKkPvntITkK5GzuICKk-wi8HlBjGTDMziCHjkWSuqJig&s");
color: rgb(240, 243, 245);
background-size: cover;
height: 100vh;
}