body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
color: rgb(240, 243, 245);
background-size: cover;
height: 100vh;
}