body{
    background-image: url("https://img.freepik.com/free-photo/beautiful-view-greenery-bridge-forest-perfect-background_181624-17827.jpg");
color: rgb(240, 243, 245);
background-size: cover;
height: 100vh;
}