{% extends 'dummy.html' %}

{% load static %}

{% block title %}
<title>home page</title>
{% endblock %}

{% block link_block %}
<!--<link rel="stylesheet" href="{% static 'css/register.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{%  endblock %}

{% block body_block %}
<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
</head>

<body>

  <h1>Welcome to Our Company</h1>
  <h2>Web Site Main Ingredients:</h2>

  <p>Pages (HTML)</p>
  <p>Style Sheets (CSS)</p>
  <p>Computer Code (JavaScript)</p>
  <p>Live Data (Files and Databases)</p>

</body>
</html>
{% endblock %}