{% extends 'dummy.html' %}

{% load static %}

{% block title %}
<title>login page</title>
{% endblock %}

{% block link_block %}
<!--<link rel="stylesheet" href="{% static 'css/register.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{%  endblock %}

{% block body_block %}
<!DOCTYPE html>
<html>
<head>
<title>TEst for PRACTICALS! CA-6</title>
<script type=text/javascript>
function sub()
{
if(document.getElementById("t1").value=="")
alert("Please enter your name");
else if(document.getElementById("t2").value=="")
alert("Please enter a password");
else if(document.getElementById("t2").value!=document.getElementById("t3")
alert("Please Re-enter your password");
else if(document.getElementById("t4").value=="")
alert("Please Enter your address");
else
alert("Your form has been submitted");
}
</script>
</head>
<body>
<h1 align=center>Login Form</h1>
<form>
<p align=center>
Username:<input type="text" id="t1"><br><br>
Password:<input type="text" id="t2"><br><br>
Confirm Password:<input type="text" id="t3"><br><br>
Address:<textarea rows="2" cols="25" id="t4"></textarea><br><br>
<input type=reset Value=ClearAll>
<input type="button" value="submit" onclick="sub()">
</p>
</form>
</body>
</html>
{% endblock %}